.main_welcome{
	display: flex;
	justify-content: space-between;
}

.img_block{
	width: 25%;
}

.welcome_block{
	width: 60%;
}

.welcome_block h2{
	font-weight: 600;
	font-size: 1.3rem;

	text-transform: uppercase;

	color: #2ab5f6;

}

.welcome_block h3{
	font-size: 3.5rem;
	font-weight: 100;
	text-transform: capitalize;

	margin: 10px 0 25px;
}

.welcome_block button{
	border: none;
	width: 150px;
	height: 60px;
	border-radius: 30px;
	background-color: #2ab5f6;
	color: #fff;
	font-size: 1rem;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
	transition: .5s;
	margin-top: 35px;
}

.welcome_block button:hover{
	background-color: #0B283B;

}
